<h2>My Heroes</h2>
<ul *ngIf="mongoHeroes !== undefined" class="heroes">
  <li *ngFor="let hero of mongoHeroes.data">
    <a routerLink="/hero/{{hero.link}}">
      <span class="badge"></span> {{hero.name}}
    </a>
  </li>
</ul>


<div>
  <label>Add new hero:
    <input #heroName />
    <input #heroLink />
    <textarea #heroDescription> </textarea>
  </label>

<button (click)="addMongoHero(heroName.value, heroLink.value, heroDescription.value); heroName.value=''; heroLink.value=''; heroDescription.value=''">
	add
</button>

</div>